body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    padding: 0 15px 0 0;
}

.brand-image {
    height: 100%
}

.header {
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
}

.fixture-game:last-child {
    margin-bottom: -1px;
}

.team-name {
    display: inline;
    vertical-align: middle;
}

.owner-team-number-table {
    display: inline;
}