body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    padding: 0 15px 0 0;
}

.brand-image {
    height: 100%
}

.header {
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
}

.fixture-game:last-child {
    margin-bottom: -1px;
}

.team-name {
    display: inline;
    vertical-align: middle;
}

.standings-container {
    padding: 10px 5px;
}

.owner-team-number-table {
    display: inline;
}

.owner-container {
    overflow: hidden;
}

.owner-item {
    float: left;
}

.owner-item-details {
    padding-left: 5px;
    font-size: 24px;
}

.item-detail {
    padding-left: 8px;
}

.ranking {
    font-size: 60px;
    text-align: center;
    width: 45px;
}

.mini-flag {
    width: 35px;
    height: 23px;
    padding-left: 1px;
}