body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    padding: 0 15px 0 0;
}

.brand-image {
    height: 100%
}

.fixture-header {
    font-family: 'Montserrat', sans-serif;
}

.fixture-game:last-child {
    margin-bottom: -1px;
}