<div ng-controller="DashboardController">
    <h2 class="header">Current Standings</h2>
    <ul class="list-group">
        <li class="list-group-item dashboard-container" ng-repeat="owner in owners|orderBy:'points':true">
            <a href="#/owner/{{owner.id}}" class="basic-link">
                <div class="owner-container">
                    <div class="owner-item ranking">
                        <span class="header">{{$index + 1}}</span>
                    </div>
                    <div class="owner-item owner-item-details">
                        <div class="header">{{owner.name}}</div>
                        <div ng-if="showScores" class="item-detail">{{owner.points}} points</div>
                        <div class="item-detail" id="{{owner.name}}-flags">
                            <a class="mini-flag basic-link" ng-repeat="team in owner.teams" href="#table#{{team.name}}">
                                <img id="{{team.name}}-flag" class="mini-flag" ng-class="team.eliminated ? 'grayscale' : ''" src="" ng-src="{{team.flagURL}}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div ng-include="matchday"></div>

</div>