<div ng-controller="DashboardController">
    <h2 class="header">Current Standings</h2>
    <ul class="list-group">
        <li class="list-group-item standings-container" ng-repeat="owner in owners|orderBy:'points':true">
            <a href="#/owner/{{owner.id}}" class="owner-link">
                <div class="owner-container">
                    <div class="owner-item ranking">
                        <span class="header">{{$index + 1}}</span>
                    </div>
                    <div class="owner-item owner-item-details">
                        <div class="header">{{owner.name}}</div>
                        <div class="item-detail">{{owner.points}} points</div>
                        <div class="item-detail" id="{{owner.name}}-flags">
                            <img class="mini-flag" ng-repeat="team in owner.teams" src="http://img.fifa.com/images/flags/4/{{team}}.png"/>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <h2 class="header">Today's Matches</h2>
    <ul class="list-group">
        <li class="list-group-item fixture-game" ng-repeat="game in games|orderBy:startTime">
            <span>{{game.timeString}} - {{game.homeTeam}} ({{game.homeScore}}) vs. {{game.awayTeam}} ({{game.awayScore}}) - {{game.status}}</span>
        </li>
    </ul>
</div>