<div ng-controller="LeadersController">

    <h2 class="header">Goals</h2>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="leader in goalLeaders">
            <a class="basic-link" href="{{leader.wikiLink}}">{{leader.firstName}} {{leader.lastName}} - {{leader.goals}}</a>

        </li>
    </ul>

    <h2 class="header">Assists</h2>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="leader in assistLeaders">
            <a class="basic-link" href="{{leader.wikiLink}}">{{leader.firstName}} {{leader.lastName}} - {{leader.assists}}</a>
        </li>
    </ul>

</div>