<div ng-controller="TableController">
    <ul class="list-group">
        <div ng-repeat="team in teams|orderBy:['group','groupRank']">
            <h3 class="header" ng-if="newGroup(team.group)">Group {{team.group}}</h3>
            <a href="" class="basic-link" ng-click="showDetails = ! showDetails">
                <li class="list-group-item team-list-item" ng-class="team.groupRank < 3 ? 'list-group-item-success' : 'list-group-item-danger'" >
                    <div id="{{team.name}}" class="team-item">
                        <img src="" ng-src="{{team.flagURL}}"/>
                    </div>
                    <div>
                        <span class="item-detail team-text-item">{{team.name}}</span>
                        <span class="team-points team-text-item">{{team.groupPoints}} Pts.</span>
                    </div>
                </li>
            </a>
            <li ng-show="showDetails" class="list-group-item team-list-item">
                <div id="{{team.name}}-details-div" class="item-detail team-summary">
                    <span>{{team.wins}}W</span>
                    <span>{{team.draws}}D</span>
                    <span>{{team.losses}}L</span>
                    <span>{{team.goalsFor}}GF</span>
                    <span>{{team.goalsAgainst}}GA</span>
                </div>
            </li>
        </div>
    </ul>
</div>