<div ng-controller="TeamsController">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="team in teams|orderBy:['group', 'name']">

                <img src="" ng-src="http://img.fifa.com/images/flags/4/{{team.shortname}}.png"/>
                <h3 class="team-name header">{{team.name}}</h3>
                <span>Group {{team.group}}</span>
                <!--<span ng-style="{background: '#' + team.primarycolor}">Primary</span>
                <span ng-style="{background: '#' + team.secondarycolor}">Secondary</span>
                <span ng-style="{background: '#' + team.tertiarycolor}">Tertiary</span>-->
            </li>
        </ul>
</div>